html {
    overflow: hidden;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    background-repeat: repeat;
    background-image: url("./images/space.svg");
}

ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    max-height: 600px;
}

#heads {
    z-index: 5;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1, 1);
    transform-origin: center 43.75%;
    transition: transform 0.3s;
}

#tails {
    opacity: 0;
    z-index: 4;
    max-width: 100%;
    max-height: 25%;
    transform: scale(1, 1);
    transform-origin: center 56.25%;
    transition: transform 0.3s;
}

#edge {
    z-index: 3;
    max-width: 100%;
    max-height: 100%;
    transform: scale(1, 0);
    transition: transform 0.3s;
}

#bottom {
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    transform-origin: center 56.25%;
    transform: scale(1, 1);
    transition: transform 0.3s;
}

#click-area {
    z-index: 6;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

